{
  "ConnectFunction": {
    "SECRET_KEY": "local-dev-secret-key",
    "CONNECTIONS_TABLE": "DigiRaiseConnections",
    "CONFIG_TABLE": "DigiRaiseConfig",
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:8000",
    "AWS_REGION": "ap-northeast-1"
  },
  "DisconnectFunction": {
    "CONNECTIONS_TABLE": "DigiRaiseConnections",
    "ROOMS_TABLE": "DigiRaiseRooms",
    "APIGW_ENDPOINT": "http://host.docker.internal:3001",
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:8000",
    "AWS_REGION": "ap-northeast-1"
  },
  "MessageFunction": {
    "CONNECTIONS_TABLE": "DigiRaiseConnections",
    "ROOMS_TABLE": "DigiRaiseRooms",
    "APIGW_ENDPOINT": "http://host.docker.internal:3001",
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:8000",
    "AWS_REGION": "ap-northeast-1"
  },
  "EmergencyShutdownFunction": {
    "CONFIG_TABLE": "DigiRaiseConfig",
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:8000",
    "AWS_REGION": "ap-northeast-1"
  }
}
